canvas,
div,
span {
    margin-right: auto;
    margin-left: auto;
    display: grid;
    align-items: center;
}

img {
    width: 100px;
    height: 100px;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    align-items: center;
}